# 忽略 node_modules 目錄
node_modules/

# 忽略前端的 node_modules 目錄
frontend/node_modules/

# 忽略 build 目錄
build/
frontend/build/

# 忽略臨時文件
*.log
*.tmp
*.temp

# 忽略操作系統生成的文件
.DS_Store
Thumbs.db

# 忽略 VS Code 設置文件
.vscode/
